<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>



    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>



  <form action="/activityPage/create" method="post">

        <div class="form-group">
          <label for="activity">Activity</label>
          <input type="activity" class="form-control" name="activity" aria-describedby="activityHelp" placeholder="Enter activity">



          <label for="date">date</label>

          <input type="text" class="form-control" name="date" aria-describedby="dateHelp"  value =  <% "date.getDate()" %> >

          <label for="score">Score</label>

          <input  class="form-control" name="score" aria-describedby="scoreHelp" placeholder="Enter score" >

        </div>






        <button type="submit" class="btn btn-primary">Add Activity</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
