<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
  <link rel="stylesheet" href="/css/application.css">
</head>
<body class = "staticMain">

  <main class=" text-center ">
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

    <header>

      <h1 class="display-3 hero-title text-center ">Here are all Your Activities this week</h1>
    </header>



        <ul class="list-group act-Ul">

          <% acts.forEach((act)=>{ %>
            <li class="act-list list-group"><%= act %>
            </li>
            <%   }) %>

          </ul>

            </main>
            <!-- /.container -->

            <% include ../static/partials/baseScripts.ejs %>
          </body>
          </html>
